<form action="/musicians" method="post">
  <label>ミュージシャン名</label>
  <input name="name" placeholder="musician">
  <label>ライブ情報のURL</label>
  <input name="url" placeholder="https://musician.example.com/live/">
  <input type="submit" value="追加">
</form>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>アーティスト名</th>
    </tr>
  </thead>
  <tbody>
    {% for musician in musicians %}
      <tr>
        <td>{{musician.id}}</td>
        <td><a href="{{musician.live_info_url}}">{{musician.name}}</a></td>
      </tr>
    {% end %}
  </tbody>
</table>
